/**
 * _global.css
 * global, non-critical styles
 */

@media (max-width: 300px) {
  * {
    overflow-wrap: anywhere;
  }
}

/* wcag */
[href]:focus {
  outline: var(--defColor) dashed 2px;
  z-index: 9998;
}

:focus {
  outline-color: var(--defColor);
}

::selection {
  background: var(--defColor);
  color: #fff;
}

.nodrag {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

:-moz-placeholder {
  color: currentColor;
}
::-moz-placeholder {
  color: currentColor;
}
:-ms-input-placeholder {
  color: currentColor;
}
::-webkit-input-placeholder {
  color: currentColor;
}

::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none;
}

.pe-n {
  pointer-events: none;
}

.occ {
  object-fit: cover;
  object-position: center;
}

.cp,
a[href],
button,
input[type="button"] {
  cursor: pointer;
}

.w-a {
  width: auto;
}

.h-a {
  height: auto;
}
