/**
 * _buttons.css
 * styles for button, critical
 */

#{$button} {
    background: var(--bg-color, currentColor);
    padding: 10px 18px;
    width: max-content;
    white-space: nowrap;
    cursor: pointer;

    &__p {
        display: inline-flex;
        height: 60px;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        flex-shrink: 0;
        color: var(--whiteColor);
        background-color: var(--defColor);
        cursor: pointer;
        transition: all ease 0.3s;

        &:hover {
            background-color: #E1C063;
            gap: 20px;
        }
    }

    &__g {
        display: flex;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex: 1 0 0;
        border-radius: 150px;
        background: var(--altColor);
        cursor: pointer;
        transition: all ease 0.3s;

        &:hover {
            background: var(--whiteColor);
            color: var(--altColor);
        }
    }

    &__w {
        display: flex;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex: 1 0 0;
        border-radius: 150px;
        border: 1px solid var(--black-100, #E3E3E3);
        background: #FFF;
        cursor: pointer;
        transition: all ease 0.3s;

        &:hover {
            background: var(--whiteColor);
            color: var(--altColor);
        }
    }

    &__arr {
        gap: 24px;

        &-wr {
            gap: 12px;
        }
    }

    &-swipe {
        display: flex;
        height: 64px;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border: 1px solid var(--grayColor);
        background: var(--lightGrayColor);
        transition: all var(--transition);

        &:hover {
            border: 1px solid var(--defColor);
        }
    }

    &__min {}

    &__e {
        display: flex;
        height: 60px;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        flex-shrink: 0;
        border: 1px solid var(--defColor);
        cursor: pointer;
        transition: all var(--transition);

        &:hover {
            background-color: var(--defColor);
            color: var(--whiteColor);

            .icon {
                color: var(--whiteColor);
            }
        }

        .icon {
            color: var(--defColor);
        }
    }

    &__label {
        font-size: 1.15em;
        color: var(--lab-color);
    }

    &--big,
    #{$navigationMenu}__btn {
        padding: 15px 35px;

        &__label {
            font-size: 1.3em;
        }
    }

    &--def {
        --lab-color: #fff;
    }

    &--alt {
        --lab-color: #222;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%238d49b0' stroke-width='1' stroke-dasharray='13' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    }
}