/**
 * _images.css
 * image styling including majkel-images
 */

$majkelImage: ".m-img";
#{$majkelImage} {
  &__i {
    height: -webkit-fill-available;
    height: 100%;
    object-fit: cover;
  }

  &--loader {
    position: relative;
    background: url(#{$assetsPath} + "img/loader.gif") center center / 15%
      no-repeat;

    &::before {
      content: "";
      background: #eee;
      position: absolute;
      z-index: -1;
      inset: 0;
      margin: auto;
    }
  }
}

img {
  max-width: 100%;
}

.no-js img.lazyload {
  display: none;
}

.lazyload-fade {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.lazyloaded {
  opacity: 1;
}
